*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.logo {
  color: #b83b5e;
  font-family: 'Oleo Script', cursive;
  font-size: 3rem;
}
#todoForm,
#todoForm label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#todoForm label {
  padding: 10px 0;
}

#content {
  display: flex;
  min-height: 100vh;
}

.left-container {
  width: 30%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.right-container {
  width: 70%;
}
