#todoForm,
#todoForm label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#todoForm label {
  padding: 10px 0;
}

#content {
  display: flex;
  min-height: 100vh;
}

.left-container {
  width: 30%;
  background-color: antiquewhite;
}

.right-container {
  width: 70%;
}