*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.logo {
  color: #b83b5e;
  font-family: 'Oleo Script', cursive;
  font-size: 3rem;
}

.form-container,
.project-module {
  width: 100%;
  position: absolute;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.514);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

#todoForm,
#projectForm  {
  position: relative;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

#todoForm,
#todoForm label,
#projectForm,
#projectForm label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#todoForm label,
#projectForm label {
  padding: 10px 0;
}

.cta-btns {
  margin-top: 20px;
}

#content {
  display: flex;
  min-height: 100vh;
}

.left-container {
  width: 30%;
  background-color: antiquewhite;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.left-section {
  padding: 30px 0;
}

.projects h2 {
  padding-bottom: 10px;
}

.projects .project {
  padding-top: 15px;
}

.projects .project a {
  color: #6a2c70;
  text-decoration: none;
}

.right-container {
  width: 70%;
}

.d-none {
  display: none;
}

.toggle > * {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: antiquewhite;
  cursor: pointer;
}

#projectToggle {
  margin-right: 5rem;
}

/* .card.project-module {

} */
